.container{
  position: relative;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 22px 28px 20px 26px;
  padding: 22px 530px 28px 28px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title{
  padding-bottom: 35px;
  font-size: 24px;
}

.editor{
  border: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  resize:none;
}

.backButton{
  margin: 15px 0 0;
}

.empty{
  cursor: pointer;
}

.close{
  cursor: pointer;
  position: absolute;
  right: 23px;
  top: 17px;
  height: 24px;
}