.container{
  position: relative;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.title{
  padding-bottom: 15px;
}

.editor{
  border: none;
}

.backButton{
  margin: 15px 0 0;
}

.empty{
  cursor: pointer;
}

.close{
  cursor: pointer;
  position: absolute;
  right: 23px;
  top: 17px;
}