.container{
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.title{
  padding-bottom: 15px;
}

.editor{
  border: none;
}

.backButton{
  margin: 15px 0 0;
}