.background {
  background-color: rgba(0, 121, 191, 1);
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  flex-flow: column;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}