.columnFooter {
  padding-top: 2px;
  padding-left: 14px;
}

.input {
  border-color: transparent;
  border-radius: 5px;
  width: 239px;
  background-color: #FFFFFF;
  padding: 7px 9px 7px 8px;
  border: 0px;
  margin-bottom: 15px;
}