.column {
  display: flex;
  flex-direction: column;
  width: 282px;
  min-height: 100px;
  border-radius: 10px;
  background-color: #EBECF0;
  font-size: 18px;
  align-self: start;
  padding-bottom: 8px;
}

.scrollContainer{
  display: flex;
  height: 100%;
  max-height: 500px;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #CBCBCB;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
 background-color: #FFFFFF; 
}
.scrollContainer footer{
  margin-top: auto;
}

@media (max-width: 1160px) {
  .column {
   margin: 25px;
  }
  .column{
    min-height: 249px;
  }
}

