.dropdown {
  position: absolute;
  z-index: 1;

}
.dropdownUl {
  padding-top: 6px;
  padding-left: 7px;
  list-style-type: none;
  font-size: 14px;
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #000000;
  margin-left: -71px;
  margin-top: -12px;
  width: 127px;
  line-height: 24px;
  padding-bottom: 8px;
}

.dropdownUl li {
  cursor: pointer;
}
.dropdownUl li:hover{
  background-color: #EBECF0;
}
.rhomb {
  margin-top: 0;
  padding-left: 12px;
}