.footer {
  background-color: #0067A3;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  vertical-align: top;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.boardBy {
  padding-top: 17px;
  padding-right: 19px;
  padding-bottom: 17px;
}


@media (max-width: 1160px) {
  .footer {
    display: none;
  }
  
}