.userMenu {
  padding-top: 7px;
  padding-right: 22px;
  cursor: pointer;
}
.avatar {
  background-color: #FFFFFF;
  border-radius: 50%;
}
.arrow {
  margin-left: 6px;
  margin-bottom: 14px;
}

@media (max-width: 1160px) {
  .userMenu {
    width: 66px;
  }
}