.submitButton {
  margin-top: -2px;
  font-size: 18px;
  background-color: #0079BF;
  border-color: #0079BF;
  border-style: none;
  border-radius: 5px;
  color: #FFFFFF;
  width: 102px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  margin-bottom: 8px;

}